
div {
	-webkit-box-sizing: border-box;
	-webkit-user-select: none;
	-webkit-user-drag: none;
}

img {
	-webkit-box-sizing: border-box;
	-webkit-user-select: none;
	-webkit-user-drag: none;
}

video {
	-webkit-box-sizing: border-box;
	-webkit-user-select: none;
	-webkit-user-drag: none;
}

html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	font-family: sans-serif;
	overflow: hidden;
}

.app {
	background-color: #eee;
	width: 100%;
	height: 100%;
	overflow: hidden;
	/* for perspective transform, set the perspective */
	-webkit-transform-style: 'preserve-3d';
	-webkit-perspective: 1000px;
}

.hl {
	margin-top: 2px;
	margin-bottom: 2px;
	height: 1px;
	background: black;
}

.dialog {
	-webkit-box-shadow: 0px 0px 5px #444;
	-moz-box-shadow: 0px 0px 5px #444;

	border: 1px solid #22272C;

	-webkit-border-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;

	background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#EEE), color-stop(0.02, #EFEFEF), to(#CCC));

	background-color: #eee;
	margin: 5px;
	padding: 8px;
	min-width: 50px;
	min-height: 50px;
}

.dialoganchor {
	width: 13px;
	height: 13px;
	-webkit-transform-origin: 0px 0px;
	-webkit-transform: rotate(45deg);

	border-top: 1px solid #22272C;
	border-left: 1px solid #22272C;

	background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, from(#EEE), color-stop(0.5, #EEE), color-stop(0.6, rgba(250, 250, 250, 0)), to(rgba(250, 250, 250, 0)));
}

.modaldialog {
	-webkit-box-shadow: 0px 0px 5px #444;
	-moz-box-shadow: 0px 0px 5px #444;

	-webkit-border-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;

	background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#EEE), color-stop(0.02, #EFEFEF), to(#CCC));

	background-color: #eee;
	padding: 8px;
}

.modaldialogcontainer {
	background: rgba(0, 0, 0, 0.7);
}

.spacer {
	pointer-events: none;
}

.vbox {
	display: -webkit-box;
	display: -moz-box;
	position: relative;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
}

.fbox {
	display: block;
	position: relative;
	-webkit-box-orient: inline-axis;
	-moz-box-orient: inline-axis;
}

.lbox {
	display: -webkit-box;
	display: -moz-box;
	position: relative;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
}

.cbox {
	display: -webkit-box;
	position: relative;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
}

.hbox {
	display: -webkit-box;
	display: -moz-box;
	position: relative;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
}

.vbox > div !fbox {
	display: -webkit-box;
	-webkit-box-align: strecth;
}

.vbox > img {
	display: -webkit-box;
	display: -moz-box;
	-webkit-box-align: strecth;
}

.hbox > div !fbox {
	display: -webkit-box;
	display: -moz-box;
	-webkit-box-align: strecth;
}

.hbox > img {
	display: -webkit-box;
	display: -moz-box;
	-webkit-box-align: strecth;
}

.lbox > div !fbox {
	display: -webkit-box;
	display: -moz-box;
	-webkit-box-align: strecth;
}

.lbox > img {
	display: -webkit-box;
	display: -moz-box;
	-webkit-box-align: strecth;
}

.fbox > div {
	display: inline-block;
}

.canvas {
	position: relative;
	overflow: hidden;
	display: block;
}

.grid {
	display: -webkit-box;
	display: -moz-box;
}

.cacheloadingdialogtitle {
	font-weight: bold;
	text-align: center;
	padding: 10px;
}

.cacheloadingdialog > .progressbar {
	min-width: 200px;
	margin: 10px;
}

.cacheloadingdialogerror {
	color: red;
	font-weight: bold;
	padding: 10px;
}

/*****************************************
 * Buttons
 *****************************************/

/*
 * Normal button style
 */
.button {
	-webkit-box-shadow: 0px 0px 2px #999;
	-moz-box-shadow: 0px 0px 2px #999;

	border: 1px solid #22272C;

	-webkit-border-radius: 0.4em;
	border-bottom-left-radius: 0.4em;
	border-bottom-right-radius: 0.4em;
	border-top-left-radius: 0.4em;
	border-top-right-radius: 0.4em;

	-moz-border-radius-bottomleft: 0.4em;
	-moz-border-radius-bottomright: 0.4em;
	-moz-border-radius-topleft: 0.4em;
	-moz-border-radius-topright: 0.4em;

	background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#fff), color-stop(0.02, #ddd), to(#aaa));
	background-image: -moz-linear-gradient(-90deg, #fff, #ddd 2%, #aaa);
	margin: 5px;
	padding: 8px;
	min-width: 50px;
	min-height: 30px;
	cursor: pointer;

    -webkit-box-pack: center;
	-webkit-box-align: center;

    -moz-box-pack: center;
	-moz-box-align: center;
}

/*
 * Normal button when down
 */
.button.down {
	background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#ddd), color-stop(0.02, #888), to(#aaa));
	background-image: -moz-linear-gradient(-90deg, #ddd, #888 2%, #aaa);
}

/*
 * Normal button when disabled
 */
.button.disabled {
	color: gray;
	text-shadow: 0px 1px 0px white;
	cursor: default;
}

/*
 * Back button style
 */
.backbutton {

/*	-webkit-box-shadow: 0px 0px 2px white;*/
/*	-webkit-box-shadow: inset 0px 0px 15px white;

	box-shadow: inset 0px 0px 0.1em 0.1em #4E5A65, 0px 0.1em 0px 0px rgba(255, 255, 255, 0, 246094);

	-webkit-box-shadow: #4E5A65 0px 0px 0.1em 0.1em inset, rgba(255, 255, 255, 0, 246094) 0px 0.1em 0px;
	-moz-box-shadow: inset 0px 0px 0.1em 0.1em #4E5A65, 0px 0.1em 0px rgba(255, 255, 255, 0, 246094);*/

/*	border-left: 15px solid transparent;*/

/*
	overflow: visible;*/

/*	-webkit-mask-box-image: url('../img/tip.png') 0 0 0 15 stretch stretch;*/

/*
	-webkit-mask-box-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAjCAYAAABLuFAHAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAR9JREFUeNpi/PX7LwMZwAmItzORoVEXiNcBMRupmkWhGvlBHFI0cwLxFiBWgQkQq5kZiFcAsRmyILGaW4DYD12QGM2ZQFyBTYKRQFR5A/FGqLMZSLEZFCVLcWnEp1kalAhgUUKKZh6oRmlCgcGEJUqWQp3MQKrmydiihBjNpdBoIRrAosoPmmaZSdHMBE1yK0jVCNPcCE30DORoJhuANNcD8XdyNZ8C4ggg/kuuszcBcSUlfu4G4unkxDNy8lxHbCpDD+2/UP+fIjeqQCEfBMRPyY1nkEZPIP5IbiK5DHXBL3JT2D4gTqQkeS4D4g5ySk9kACphosjNGIlQb5Cl+Rc0AK+RmyVBUecPxK/Jzc93gNgHlJgYyWwZgMs9gAADAA5SOzDJJHlZAAAAAElFTkSuQmCC) 0 0 0 15 stretch stretch;*/

/*	position: relative;
	left: -0.904em;*/
/*
	-webkit-mask: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAjCAYAAABLuFAHAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAR9JREFUeNpi/PX7LwMZwAmItzORoVEXiNcBMRupmkWhGvlBHFI0cwLxFiBWgQkQq5kZiFcAsRmyILGaW4DYD12QGM2ZQFyBTYKRQFR5A/FGqLMZSLEZFCVLcWnEp1kalAhgUUKKZh6oRmlCgcGEJUqWQp3MQKrmydiihBjNpdBoIRrAosoPmmaZSdHMBE1yK0jVCNPcCE30DORoJhuANNcD8XdyNZ8C4ggg/kuuszcBcSUlfu4G4unkxDNy8lxHbCpDD+2/UP+fIjeqQCEfBMRPyY1nkEZPIP5IbiK5DHXBL3JT2D4gTqQkeS4D4g5ySk9kACphosjNGIlQb5Cl+Rc0AK+RmyVBUecPxK/Jzc93gNgHlJgYyWwZgMs9gAADAA5SOzDJJHlZAAAAAElFTkSuQmCC);
*/
/*	-webkit-mask-box-image: url('../img/tip.png');*/
/*	-webkit-mask-composite: padding;
	-webkit-mask-repeat: none;
	-webkit-mask-size: 50px 100%;*/

/*	-webkit-mask-image: url('../img/tip.png');
	-webkit-mask-size: 100% 100%;*/

	-webkit-box-shadow: 0px 0px 2px #999;
	-moz-box-shadow: 0px 0px 2px #999;

	border: 1px solid #22272C;

	-webkit-border-radius: 0.4em;
	border-bottom-left-radius: 0.4em;
	border-bottom-right-radius: 0.4em;
	border-top-left-radius: 0.4em;
	border-top-right-radius: 0.4em;

	-moz-border-radius-bottomleft: 0.4em;
	-moz-border-radius-bottomright: 0.4em;
	-moz-border-radius-topleft: 0.4em;
	-moz-border-radius-topright: 0.4em;

	background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#fff), color-stop(0.02, #ddd), to(#aaa));
	background-image: -moz-linear-gradient(-90deg, #fff, #ddd 2%, #aaa);
	margin: 5px;
	padding: 8px 8px 8px 17px;
	min-width: 50px;
	min-height: 30px;
	cursor: pointer;
}

.backbutton.down {
	background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#ddd), color-stop(0.02, #888), to(#aaa));
	background-image: -moz-linear-gradient(-90deg, #ddd, #888 2%, #aaa);
}

.playbutton {
	min-width: 150px;
	min-height: 150px;
	background-color: rgba(50, 50, 50, 0.8);
	-webkit-border-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;	

	padding: 10px;
	cursor: pointer;
}

.playbutton > .content {
	background-size: 100% 100%;
	background: url(../img/playbutton.svg);
}

.playbutton.down {
	background-color: rgba(180, 180, 180, 0.8);
}

.replaybutton {
	min-width: 150px;
	min-height: 150px;
	background-color: rgba(50, 50, 50, 0.8);
	-webkit-border-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;	

	padding: 10px;
	cursor: pointer;
}

.replaybutton > .content {
	background-size: 100% 100%;
	background: url(../img/replaybutton.svg);
}

.replaybutton.down {
	background-color: rgba(180, 180, 180, 0.8);
}

.unknownbutton {
	min-width: 150px;
	min-height: 150px;
	background-color: rgba(50, 50, 50, 0.8);
	-webkit-border-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;	

	padding: 10px;
	cursor: pointer;
}

.unknownbutton > .content {
	background-size: 100% 100%;
	background: url(../img/unknownbutton.svg);
}

.unknownbutton.down {
	background-color: rgba(180, 180, 180, 0.8);
}

/*
 * Toolbar style
 */
.toolbar {
	background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#7E8E9B), color-stop(0.02, #4E5B65), to(#2D343A));
	background-image: -moz-linear-gradient(-90deg, #7E8E9B, #4E5B65 2%, #2D343A);
	border-bottom-color: #0B0D0F;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top-color: black;
	border-top-style: solid;
	border-top-width: 1px;
	min-height: 30px;
	padding: 2px;
	color: white;
	text-shadow: 0px -1px 0px black;
}

/*
 * Button when in toolbar
 */
.toolbar > .button {
	-webkit-box-shadow: 0px 1px 1px #999;
	-moz-box-shadow: 0px 1px 1px #999;
	background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#567), color-stop(0.02, #596774), to(#384049));
	background-image: -moz-linear-gradient(-90deg, #567, #596774 2%, #384049);
	margin: 2px 4px;
	font-weight: bold;
}

.toolbar > .button.down {
	background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#234), color-stop(0.02, #293744), to(#384049));
	background-image: -moz-linear-gradient(-90deg, #234, #293744 2%, #384049);
	margin: 2px 4px;
}

.toolbar > .backbutton {
	-webkit-box-shadow: 0px 1px 1px #999;
	-moz-box-shadow: 0px 1px 1px #999;
	background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#567), color-stop(0.02, #596774), to(#384049));
	background-image: -moz-linear-gradient(-90deg, #567, #596774 2%, #384049);
	margin: 2px 4px;
	font-weight: bold;
}

.toolbar > .backbutton.down {
	background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#234), color-stop(0.02, #293744), to(#384049));
	background-image: -moz-linear-gradient(-90deg, #234, #293744 2%, #384049);
	margin: 2px 4px;
}

/*
 * Scrolling area
 */

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-thumb {
	height: 50px;
	background-color: rgba(40, 40, 40, 0.5);
	-webkit-border-radius: 4px;
}

/*
 * Text input
 */

input[type=text] {
	font-size: 24px;
	-webkit-border-radius: 5px;
	border: solid 1px black;
	-webkit-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.3);
	padding: 5px;
}

/*****************************************
 * Animations
 *****************************************/

@-webkit-keyframes bouncetop {
	from {
		-webkit-transform: translate(0px, 0px);
		-webkit-animation-timing-function: ease-out;
	}
	16% {
		-webkit-transform: translate(0px, -50px);
		-webkit-animation-timing-function: ease-in;
	}
	33% {
		-webkit-transform: translate(0px, 0px);
		-webkit-animation-timing-function: ease-out;
	}
	50% {
		-webkit-transform: translate(0px, -20px);
		-webkit-animation-timing-function: ease-in;
	}
	67% {
		-webkit-transform: translate(0px, 0px);
		-webkit-animation-timing-function: ease-out;
	}
	83% {
		-webkit-transform: translate(0px, -5px);
		-webkit-animation-timing-function: ease-in;
	}
	to {
		-webkit-transform: translate(0px, 0px);
	}
}

@-webkit-keyframes bouncebottom {
	from {
		-webkit-transform: translate(0px, 0px);
		-webkit-animation-timing-function: ease-out;
	}
	16% {
		-webkit-transform: translate(0px, 50px);
		-webkit-animation-timing-function: ease-in;
	}
	33% {
		-webkit-transform: translate(0px, 0px);
		-webkit-animation-timing-function: ease-out;
	}
	50% {
		-webkit-transform: translate(0px, 20px);
		-webkit-animation-timing-function: ease-in;
	}
	67% {
		-webkit-transform: translate(0px, 0px);
		-webkit-animation-timing-function: ease-out;
	}
	83% {
		-webkit-transform: translate(0px, 5px);
		-webkit-animation-timing-function: ease-in;
	}
	to {
		-webkit-transform: translate(0px, 0px);
	}
}

@-webkit-keyframes bounceleft {
	from {
		-webkit-transform: translate(0px, 0px);
		-webkit-animation-timing-function: ease-out;
	}
	16% {
		-webkit-transform: translate(-50px, 0px);
		-webkit-animation-timing-function: ease-in;
	}
	33% {
		-webkit-transform: translate(0px, 0px);
		-webkit-animation-timing-function: ease-out;
	}
	50% {
		-webkit-transform: translate(-20px, 0px);
		-webkit-animation-timing-function: ease-in;
	}
	67% {
		-webkit-transform: translate(0px, 0px);
		-webkit-animation-timing-function: ease-out;
	}
	83% {
		-webkit-transform: translate(-5px, 0px);
		-webkit-animation-timing-function: ease-in;
	}
	to {
		-webkit-transform: translate(0px, 0px);
	}
}

@-webkit-keyframes bounceright {
	from {
		-webkit-transform: translate(0px, 0px);
		-webkit-animation-timing-function: ease-out;
	}
	16% {
		-webkit-transform: translate(50px, 0px);
		-webkit-animation-timing-function: ease-in;
	}
	33% {
		-webkit-transform: translate(0px, 0px);
		-webkit-animation-timing-function: ease-out;
	}
	50% {
		-webkit-transform: translate(20px, 0px);
		-webkit-animation-timing-function: ease-in;
	}
	67% {
		-webkit-transform: translate(0px, 0px);
		-webkit-animation-timing-function: ease-out;
	}
	83% {
		-webkit-transform: translate(5px, 0px);
		-webkit-animation-timing-function: ease-in;
	}
	to {
		-webkit-transform: translate(0px, 0px);
	}
}

@-webkit-keyframes inflate {
	from {
		-webkit-transform: scale(1, 1);
		-webkit-animation-timing-function: ease-out;
	}
	16% {
		-webkit-transform: scale(1.5, 1.5);
		-webkit-animation-timing-function: ease-in;
	}
	33% {
		-webkit-transform: scale(1, 1);
		-webkit-animation-timing-function: ease-out;
	}
	50% {
		-webkit-transform: scale(1.25, 1.25);
		-webkit-animation-timing-function: ease-in;
	}
	67% {
		-webkit-transform: scale(1, 1);
		-webkit-animation-timing-function: ease-out;
	}
	83% {
		-webkit-transform: scale(1.05, 1.05);
		-webkit-animation-timing-function: ease-in;
	}
	to {
		-webkit-transform: scale(1, 1);
	}
}

@-webkit-keyframes inflateshow {
	from {
		-webkit-transform: scale(0, 0);
		-webkit-animation-timing-function: ease-out;
	}
	16% {
		-webkit-transform: scale(1.5, 1.5);
		-webkit-animation-timing-function: ease-in;
	}
	33% {
		-webkit-transform: scale(1, 1);
		-webkit-animation-timing-function: ease-out;
	}
	50% {
		-webkit-transform: scale(1.25, 1.25);
		-webkit-animation-timing-function: ease-in;
	}
	67% {
		-webkit-transform: scale(1, 1);
		-webkit-animation-timing-function: ease-out;
	}
	83% {
		-webkit-transform: scale(1.05, 1.05);
		-webkit-animation-timing-function: ease-in;
	}
	to {
		-webkit-transform: scale(1, 1);
	}
}

@-webkit-keyframes inflatehide {
	from {
		-webkit-transform: scale(1, 1);
		-webkit-animation-timing-function: ease-out;
	}
	16% {
		-webkit-transform: scale(1.5, 1.5);
		-webkit-animation-timing-function: ease-in;
	}
	33% {
		-webkit-transform: scale(0, 0);
		-webkit-animation-timing-function: ease-out;
	}
	50% {
		-webkit-transform: scale(0.25, 0.25);
		-webkit-animation-timing-function: ease-in;
	}
	67% {
		-webkit-transform: scale(0, 0);
		-webkit-animation-timing-function: ease-out;
	}
	83% {
		-webkit-transform: scale(0.05, 0.05);
		-webkit-animation-timing-function: ease-in;
	}
	to {
		-webkit-transform: scale(0, 0);
	}
}


