
/*
 * HomeBar
 */

.laclasse-homebar {
	border-left: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.05);
	background: #f9f9f9;
}

.laclasse-applauncher {
	background: #f9f9f9;
}

/*
 * Accordeon
 */
.ui-accordeonpage-bar {
	background: #f9f9f9;
}
.webkit .ui-accordeonpage-bar {
	background-image: none;
}
.gecko .ui-accordeonpage-bar {
	background-image: none;
}
.ui-accordeonpage {
	background: #f9f9f9;
}

