/*
 * General for the layout system
 */

* {
	box-sizing: border-box;
}

/*
 * Application
 */

/*.ui-app {
	background: #f9f9f9;
}*/

/*
 * Label
 */

.ui-label {
	color: black;
	cursor: inherit;
	font-size: 16px;
	font-family: Ubuntu, Sans-serif;
}

/*
 * Button
 */
/*
.ui-button {
}
.ui-button .ui-label {
	font-size: 16px;
	font-weight: bold;
	color: #007ec0;
}
.ui-button-bg {
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}
.webkit .ui-button-bg {
	-webkit-border-radius: 8px;
	-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
	background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#fff), color-stop(0.5, #efefef), to(#cbcbcb));
}
.gecko .ui-button-bg {
	-moz-border-radius: 8px;
	-moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
	background-image: -moz-linear-gradient(-90deg, #fff, #efefef 50%, #cbcbcb);
}
.ie .ui-button-bg {
	background-size: 100% 100%;
	background-image: url(grayscale-bg.png);
}
.opera .ui-button-bg {
	background-size: 100% 108%;
	background-image: url(grayscale-bg.png);
}
*/
/*
.ui-toolbar > .ui-children > .ui-button > div > .ui-button-bg {
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: none;
}
.webkit .ui-toolbar > .ui-children > .ui-button > div > .ui-button-bg {
	-webkit-box-shadow: none;
	background-image: none;
}
.gecko .ui-toolbar > .ui-children > .ui-button > div > .ui-button-bg {
	-moz-box-shadow: none;
	background-image: none;
}
.opera .ui-toolbar > .ui-children > .ui-button > div > .ui-button-bg {
	background-image: none;
}
.ie .ui-toolbar > .ui-children > .ui-button > div > .ui-button-bg {
	background-image: none;
}
.webkit .ui-button.ui-button-down > div > .ui-button-bg {
	-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
	background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#f8f8f8), color-stop(0.5, #e4e4e4), to(#c2c2c2));
}
.gecko .ui-button.ui-button-down > div > .ui-button-bg {
	-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
	background-image: -moz-linear-gradient(-90deg, #f8f8f8, #e4e4e4 50%, #c2c2c2);
}
.ui-toolbar > .ui-children > .ui-button.ui-button-down > div > .ui-button-bg {
	box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.2);
	background-image: none;
	background-color: rgba(0, 0, 0, 0.05);
}
.webkit .ui-toolbar > .ui-children > .ui-button.ui-button-down > div > .ui-button-bg {
	-webkit-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.2);
	background-image: none;
	background-color: rgba(0, 0, 0, 0.05);
}
.gecko .ui-toolbar > .ui-children > .ui-button.ui-button-down > div > .ui-button-bg {
	-moz-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.2);
	background-image: none;
	background-color: rgba(0, 0, 0, 0.05);
}*/

/*.ui-button-bg2 {
	stroke-width: 2;
	stroke: #ffffff;
	fill: none;
}
.ui-button:hover > g > .ui-button-bg1 {
	fill: white;
	opacity: 0.2;
}
.ui-button-fg {
	fill: url(#ui-button-fg-grad);
}
.ui-button.ui-button-down > g > .ui-button-bg1 {
	fill: black;
}
.ui-button.focus > g > .ui-button-bg1 {
	stroke: orange;
	stroke-width: 3;
	opacity: 0.4;
}
*/

/*
 * Entry
 */
/*.ui-entry {
	cursor: text;
}
.ui-entry-bg1 {
	stroke-width: 2;
	stroke: #ffffff;
	fill: none;
}
.ui-entry-bg2 {
	stroke-width: 2;
	stroke: #7d7d7d;
	fill: none;
}
.ui-entry-bg3 {
	fill: white;
	opacity: 0.5;
}
.ui-entry-cursor {
	fill: #8080d0;
}
.ui-entry.focus > g > .ui-entry-bg2 {
	stroke: orange;
	stroke-width: 3;
	opacity: 0.4;
}*/

/*
 * ToolBar
 */
/*.ui-toolbar {
	padding: 2px 8px;
	border-bottom: solid 1px rgba(0, 0, 0, 0.3);
}
.webkit .ui-toolbar {
	background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#fff), color-stop(0.5, #efefef), to(#cbcbcb));
}
.gecko .ui-toolbar {
	background-image: -moz-linear-gradient(-90deg, #fff, #efefef 50%, #cbcbcb);
}
.opera .ui-toolbar {
	background-position: left top;
	background-repeat: repeat-x;
	background-size: 10px 102%;
	background-image: url(grayscale-bg.png);
}
.ie .ui-toolbar {
	background-size: 100% 100%;
	background-image: url(grayscale-bg.png);
}*/

/*
 * ScrollingArea
 */
/*
.ui-scrollingarea {
}
.ui-scrollingarea-vertical {
	background: #666;
	opacity: 0.3;
	border: 2px solid white;
}
.ui-scrollingarea-horizontal {
	background: #666;
	opacity: 0.4;
	border: 2px solid white;
}*/
/*.ui-scrollingarea.focus > g > .ui-scrollingarea-fg {
	stroke: orange;
	stroke-width: 4;
}
*/

/*
 * ProgressBar
 */
/*
.ui-progressbar-bg {
	left: 2px;
	top: 2px;
	right: 2px;
	bottom: 2px;
	border-radius: 8px;
	box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.2);
	background-color: rgba(0, 0, 0, 0.05);
}
.gecko .ui-progressbar-bg {
	-moz-border-radius: 8px;
	-moz-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.2);
}
.ui-progressbar-bar {
	left: 5px;
	top: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 5px;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
	background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#9f9), color-stop(0.5, #8eef8e), to(#5acb5a));
}
.gecko .ui-progressbar-bar {
	-moz-border-radius: 5px;
	-moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
	background-image: -moz-linear-gradient(-90deg, #afa, #aeefae 50%, #8acb8a);
}
.ie .ui-progressbar-bar {
	background-size: 100% 100%;
	background-image: url(green-bg.png);
}
.opera .ui-progressbar-bar {
	background-size: 100% 100%;
	background-image: url(green-bg.png);
}
*/
/*
 * Slider
 */
/*
.ui-slider {
}
.ui-slider-bg {
	box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.2);
	background-color: rgba(0, 0, 0, 0.2);
}
.ui-slider-fg {
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
	background-color: white;
}
.ui-slider-button {
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
	border: 7px solid white;
	background-color: #009ee0;
}
*/
/*
 * Text
 */
/*
.ui-text {
	color: black;
	cursor: inherit;
	font-size: 16px;
	font-family: Ubuntu, Sans-serif;
}
*/
/*
 * IFrame
 */
/*.ui-iframe {
	overflow: hidden;
}
.ui-iframe > iframe {
	border: 0px;
	scrolling: yes;
}
*/
/*
 * Accordeon
 */
/*
.ui-accordeonpage-bar {
	border-left: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.05);
}
.webkit .ui-accordeonpage-bar {
	background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#fff), color-stop(0.1, #ebebeb), to(#ebebeb));
	-webkit-box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.05);
}
.gecko .ui-accordeonpage-bar {
	background-image: -moz-linear-gradient(0deg, #fff, #ebebeb 10%, #ebebeb);
}
.ui-accordeonpage {
	background: #ebebeb;
}
*/
